<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{./include/basic-layout :: 함수( ~{:: .wrap } ) }">

    <div class="wrap">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>대시보드</h1>
            </div>
            <!-- End Page Title -->

            <section class="section dashboard">
                <div class="row">

                    <!-- 왼쪽 첫번째 그리드 시작 -->
                    <section class="section">
                        <div class="row">
                            <div class="col-lg-6">
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" onclick="location.href='manage-statistics'" style="cursor: pointer">통계</li>
                                    </ol>
                                </nav>
                                <div class="card">
                                    <div class="card-body">

                                        <!-- Bordered Table -->
                                        <table class="table table-bordered" style="text-align: center; margin-top: 20px">

                                            <thead>
                                                <tr>
                                                    <th scope="col">프로젝트 명</th>
                                                    <th scope="col">팀장</th>
                                                    <th scope="col">프로젝트 생성일</th>
                                                    <th scope="col">완료/미완료</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th:block th:each="projectStaticVO: ${projectStaticList}">
                                                    <tr>
                                                        <td>[[${projectStaticVO.pjName}]]</td>
                                                        <td>[[${projectStaticVO.pjWriter}]]</td>
                                                        <td>[[${projectStaticVO.pjStartdate}]]</td>
                                                        <td th:text="${projectStaticVO.progress} == 100 ? '완료':'미완료'"></td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                        <!-- End Bordered Table -->
                                    </div>
                                </div>
                            </div> <!-- 왼쪽 첫번째 끝 -->

                            <!-- 오른쪽 첫번째 시작 -->
                            <div class="col-lg-6">
                                <!-- Recent Activity -->
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" onclick="location.href='notice-tablelist'" style="cursor: pointer">공지사항 게시판</li>
                                    </ol>
                                </nav>
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-bordered" style="text-align: center; margin-top: 20px">
                                            <thead>
                                                <tr>
                                                    <th scope="col">번호</th>
                                                    <th scope="col">제목</th>
                                                    <th scope="col">작성자</th>
                                                    <th scope="col">작성일</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th:block th:each="vo, stat: ${noticeList}">
                                                    <tr>
                                                        <td>[[${stat.count}]] </td><!-- 1, 11, 21페이지부터 시작하기위해 -->
                                                        <td><a href="/admin/notice-content?notice_num=" th:attrappend="href=${vo.noticeNum}">[[${vo.noticeTitle}]]</a></td>
                                                        <td>[[${vo.noticeWriter}]]</td>
                                                        <td>[[${ #dates.format(vo.noticeRegdate, 'yyyy-MM-dd') }]]</td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End Recent Activity -->
                            </div>
                            <!-- 오른쪽 첫번째 끝 -->
                        </div>

                        <!-- 왼쪽 아래 시작 -->
                        <div class="row">
                            <div class="col-lg-6">
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" onclick="location.href='manage-member'" style="cursor: pointer">회원 관리</li>
                                    </ol>
                                </nav>

                                <div class="card">
                                    <div class="card-body">

                                        <!-- Bordered Table -->
                                        <table class="table table-bordered" style="text-align: center; margin-top: 20px;">

                                            <thead>
                                                <tr>
                                                    <th scope="col" style="line-height: 30px; height: 30px">사원번호</th>
                                                    <th scope="col" style="line-height: 30px; height: 30px">아이디</th>
                                                    <th scope="col" style="line-height: 30px; height: 30px">이름</th>
                                                    <th scope="col" style="line-height: 30px; height: 30px">부서</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- 타임리프로 DB 반복문 처리 -->
                                                <th:blcok th:each="UserVO,status : ${UserList}">
                                                    <tr>
                                                        <th scope="row">[[${UserVO.userEmployeenumber}]]</th>
                                                        <td>[[${UserVO.userId}]]</td>
                                                        <td>[[${UserVO.userName}]]</td>
                                                        <td>[[${UserVO.departmentName}]]</td>
                                                    </tr>
                                                </th:blcok>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- 왼쪽아래 끝  -->
                            <!-- 오른쪽 아래 컬럼 시작 -->
                            <div class="col-lg-6">
                                <!-- Recent Activity -->
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" onclick="location.href='manage-project'" style="cursor: pointer">프로젝트 관리</li>
                                    </ol>
                                </nav>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Bordered Table -->
                                        <table class="table table-bordered" style="text-align: center; margin-top: 20px">

                                            <thead>
                                                <tr>
                                                    <th scope="col" style="line-height: 30px; height: 30px">프로젝트명</th>
                                                    <th scope="col" style="line-height: 30px; height: 30px">프로젝트장</th>
                                                    <th scope="col" style="line-height: 30px; height: 30px">프로젝트생성일</th>
                                                    <th scope="col" style="line-height: 30px; height: 30px">팀원수</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <th:block th:each="projectVO : ${projectList}">
                                                    <tr>
                                                        <th scope="row">[[${projectVO.pjName}]]</th>
                                                        <td>[[${projectVO.pjWriter}]]</td>
                                                        <td>[[${projectVO.pjStartdate}]]</td>
                                                        <td>[[${projectVO.pjCount}]]</td>
                                                    </tr>
                                                </th:block>
                                            </tbody>
                                        </table>
                                        <!-- End Bordered Table -->
                                    </div>
                                </div>
                                <!-- End Recent Activity -->
                            </div>
                            <!-- 오른쪽 아래 끝 -->
                        </div>
                    </section>
                    <!-- 왼쪽 첫번째 그리드 끝 -->
                </div>
            </section>

        </main>
        <!-- End #main -->
    </div>
</th:block>
<script>
	if('[[${msg}]]' != '' ){ alert('[[${msg}]]');}
</script>
</html>