<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/assets/css/modal.css" />
<th:block th:replace="~{./include/basic-layout :: 함수( ~{:: .wrap } ) }">

	<div class="wrap">

		<main id="main" class="main">

			<div class="pagetitle">
				<h1>프로젝트 목록</h1>

			</div>
			<!-- End Page Title -->

			<section class="section">
				<div class="row">
					<div class="col-lg-12">

						<div class="card">
							<div class="card-body">
								<div style="margin: 20px 0px; height: 40px">
									<!-- 일정관리 검색창 -->
									<!-- 폼 형태로 값들을 컨트롤러에 넘김 -->
									<div class="search-bar">
										<form class="search-form d-flex align-items-center"
											method="GET" action="manage-project"
											style="justify-content: right;">
											<div style="border: 1px solid #E0E5EE; border-radius: 15px;">
												<select class="form-select"
													style="float: left; height: 34px; width: 220px; margin: 10px; border: none"
													name="searchType">
													<option value="pjName"
														th:selected="${pageVO.criteria.searchType == 'pjName'}">프로젝트
														명</option>
													<option value="pjWriter"
														th:selected="${pageVO.criteria.searchType == 'pjWriter'}">팀장</option>
													<option value="pjStartdate"
														th:selected="${pageVO.criteria.searchType == 'pjStartdate'}">프로젝트
														생성일</option>
												</select> <input type="text" name="search" placeholder="Search"
													th:value="${pageVO.criteria.search}"
													title="Enter search keyword"
													style="border: none; padding-top: 15px; outline: none;"
													required="required" pattern="^[가-힣a-zA-Z0-9-]+$">
												<button type="submit" title="Search"
													style="background-color: transparent; border: none; padding-right: 18px">
													<i class="bi bi-search"></i>
												</button>
											</div>
										</form>
									</div>
									<!-- End Search Bar -->
									<select id="handleAmount" class="form-select"
										style="float: right; height: 34px; width: 140px; margin-bottom: 7px">
										<option value="10" th:selected="${pageVO.amount} == 10">10개씩
											보기</option>
										<option value="20" th:selected="${pageVO.amount} == 20">20개씩
											보기</option>
										<option value="50" th:selected="${pageVO.amount} == 50">50개씩
											보기</option>
									</select>
								</div>

								<!-- Bordered Table -->
								<table class="table table-bordered"
									style="text-align: center; margin-top: 20px">

									<thead>
										<tr>

											<th scope="col" style="line-height: 30px; height: 30px">프로젝트
												명</th>
											<th scope="col" style="line-height: 30px; height: 30px">팀장</th>
											<th scope="col" style="line-height: 30px; height: 30px">프로젝트
												생성일</th>
											<th scope="col" style="line-height: 30px; height: 30px">팀원
												수</th>
											<th scope="col" style="line-height: 30px; height: 30px">프로젝트
												상세 보기</th>
											<th scope="col" style="line-height: 30px; height: 30px">팀원
												수정</th>
											<th scope="col" style="line-height: 30px; height: 30px">활성화
												여부</th>
											<th scope="col" style="line-height: 30px; height: 30px">프로젝트
												삭제 <input class="form-check-input" type="checkbox"
												id="gridCheck1" style="margin-top: 8px;"
												name="projectDelete" onclick="selectAllProjectDelete(this)">
											</th>
										</tr>
									</thead>
									<tbody>
										<!-- <tr>
											<th scope="row">최종 프로젝트</th>

											<td>이승완</td>
											<td>2023/03/04</td>
											<td>6</td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">프로젝트 상세</span></td>
											<td><span class="badge bg-primary modalOn"
												style="cursor: pointer">팀원 수정</span></td>

											<td><select
												style="border: 1px solid #E0E5EE; border-radius: 5px">
													<option selected>활성화</option>
													<option>비활성화</option>
											</select></td>
											<td><input class="form-check-input" type="checkbox"
												id="gridCheck1" name="projectDelete"></td>
										</tr> -->
										<th:block th:each="projectVO : ${projectList}">
											<tr>
												<th scope="row">[[${projectVO.pjName}]]</th>

												<td>[[${projectVO.userName}]]
													<input type="hidden" th:value="${projectVO.pjWriter}" class="pj_writer">
												</td>
												<td>[[${projectVO.pjStartdate}]]</td>
												<td>[[${projectVO.pjCount}]]</td>
												<td><span class="badge bg-primary modalOn"
													style="cursor: pointer">프로젝트 상세</span></td>
												<td><span class="badge bg-primary modalOn"
													style="cursor: pointer">팀원 수정</span></td>
												<td><select
													style="border: 1px solid #E0E5EE; border-radius: 5px"
													name="pj_active" class="pj_active">
														<option th:selected="${projectVO.pjActive} ==true"
															value="true">활성화</option>
														<option th:selected="${projectVO.pjActive} == false"
															value="false">비활성화</option>
												</select></td>
												<td><input class="form-check-input projectDelete"
													type="checkbox" id="gridCheck1" name="projectDelete">
													<input type="hidden" th:value="${projectVO.pjNum}"
													name="pj_numCheck" class="pj_numCheck"></td>
											</tr>
										</th:block>
									</tbody>
								</table>
								<!-- End Bordered Table -->
								<button type="button" class="btn btn-primary"
									style="float: right" id="submit">완료</button>

							</div>

							<!-- 페이지네이션 부분 -->
							<div style="margin: 0 auto">
								<ul class="pagination">

									<!-- 이전버튼 -->

									<li
										th:class="${pageVO.prev == true ? 'page-item':'page-item disabled'}"><a
										class="page-link"
										th:href="@{manage-project(page=${pageVO.end+1},amount=${pageVO.amount},search=${pageVO.criteria.search} , searchType=${pageVO.criteria.searchType})}">이전</a></li>


									<!-- 페이징 부분 처리 -->
									<th:block th:each="page : ${pageVO.pageList}">
										<li
											th:class="${page == pageVO.page ? 'page-item active':'page-item'}"><a
											class="page-link"
											th:href="@{manage-project(page=${page}, amount=${pageVO.amount} ,search=${pageVO.criteria.search} , searchType=${pageVO.criteria.searchType})}">[[${page}]]</a></li>
									</th:block>

									<!-- 다음 버튼 -->
									<li
										th:class="${pageVO.prev == true ? 'page-item':'page-item disabled'}"><a
										class="page-link"
										th:href="@{manage-project(page=${pageVO.end+1},amount=${pageVO.amount},search=${pageVO.criteria.search} , searchType=${pageVO.criteria.searchType})}">다음</a>
									</li>

								</ul>
							</div>

						</div>


					</div>
				</div>
			</section>


			<!-- 모달창 -->
			<div id="basicModal" class="modal-overlay">
				<div class="modal-content">
					<section class="section" id="detailModal">
						<div class="row modalStart" style="justify-content: center">

							<h5 class="title" style="padding-top: 20px"></h5>
							<hr />
							<div>
								<input class="form-control projectName" type="text"
									placeholder="프로젝트 제목을 입력하세요." readonly value=""><br>
								<textarea class="form-control projectDetail" type="text"
									placeholder="프로젝트에 관한 설명을 입력하세요." style="height: 200px"
									readonly></textarea>
								<br>
							</div>
							<div>

								<div style="float: left; width: 49%;">
									<p>팀원 목록</p>
									<div class="form-control team" type="text"
										style="height: 200px; overflow: auto;" readonly>
										<!-- <p>강민정</p> -->

									</div>
								</div>


								<div style="float: right; width: 49%">
									<p>옵저버 목록</p>
									<div class="form-control observer" type="text"
										style="height: 200px; overflow: auto;" readonly>
										<!-- <p>강민정</p> -->

									</div>
								</div>
							</div>

							<div align="center">
								<button class="modalOff btn btn-primary w-20" type="submit"
									style="margin-top: 30px;">창 닫기</button>
							</div>

						</div>
					</section>


					<section id="changeModal">
						<div class="row" style="justify-content: center">

							<h5 class="title" style="padding-top: 20px"></h5>

							<div class="content">
								<div class="sub-form">

									<div>
										<div style="float: left; width: 49%;">
											<p>전체 목록</p>
											<div class="form-control" type="text" style="height: 400px; overflow: auto;" required>
												<div style="display: flex;">
													<div class="depListWrap" style="padding-right: 20px; border-right: 1px solid #ced4da;">
													</div>
													<div class="depMemberListWrap">
													</div>
												</div>
											</div>

											<div style="padding-top: 10px">
												<button type="button" class="btn btn-primary w-20" onclick="teamPlus(event)">추가</button>
											</div>

										</div>

										<div style="float: right; width: 49%" required>
											<p style="float: left">추가 목록</p>
											<p style="float: right" class="allMember">일괄 삭제
											<input type=checkbox name="memberDelete" style="padding: 10px" onclick="selectAllMember(this)">
											</p>
											<div id=teamName class="form-control" type="text" style="height: 400px; overflow: auto;" readonly>
											</div>
											<div style="padding-top: 10px">
											</div>
											<button type="button" onclick="memberDelete2()" class="btn btn-primary w-20" style="float: left;">삭제</button>
										</div>

									</div>

								</div>
							</div>

							<div align="center">
								<button type="button"  class="modalOff btn btn-primary w-20" style="margin-top: 30px">완료</button>
							</div>

						</div>
					</section>
				</div>
			</div>
		</main>
		<!-- End #main -->

	</div>

</th:block>
<script src="/assets/js/modal.js"></script>

<script th:inline="javascript">
	//모달창 구현 - 누른 버튼마다 다른 모달 구현
	var pj_numData;
	$(".modalOn").click(function(e) {
		pj_numData = $(e.target).closest("td").closest("tr").find(".pj_numCheck").val(); //pj_num 받아오기
		var pj_writer = $(e.target).closest("td").closest("tr").find(".pj_writer").val(); //pj_writer 받아오기
		if(e.target.innerHTML === "프로젝트 상세") { //프로젝트 상세 버튼 누를때
			$(".team").empty(); // 창 열기전에 창에 있던 하위 태그들 초기화
			$(".observer").empty(); // 창 열기전에 모달창에 있던 하위 태그를 초기화

			$.ajax({
				url:'../get-project-detail', //요청
				type:"POST",
				data:JSON.stringify({pj_num:pj_numData}), //보내는 데이터
				contentType:"application/json", //서버에 보내는 데이터 형식
				dataType:"json", //서버에서 받는 데이터 형식
				 beforeSend: function() {//로딩이 완료되기 전
					 //마우스 커서를 로딩 중 커서로 변경
				     $('html').css("cursor", "wait");

				   	},
				    complete: function() { //로딩 완료
				    	//마우스 커서를 원래대로 돌린다
				        $('html').css("cursor", "auto");
				    },
				success:function(result){
					$(".projectName").attr("placeholder",result.projectName); //placeholder로 제목 고정
					$(".projectDetail").attr("placeholder",result.projectDescription); // 이하 동일 상세 내용 고정
					for(var i = 0; i<result.team.length; i++) { //team에 있는 인원들 출력
						$(".team").append("<p>"+result.team[i]+"</p>");
					}
					for(var i = 0; i<result.observer.length; i++) { //observer에 있는 인원들 출력
						$(".observer").append("<p>"+result.observer[i]+"</p>");
					}
				},
				error:function(err){

				}
			});

			$("#detailModal").css("display", "");
			$("#changeModal").css("display", "none");

		} else if(e.target.innerHTML === "팀원 수정") { //팀원 수정 버튼 누를때

			$(".depListWrap").empty()//부서목록 이전값 초기화
			$(".depMemberListWrap").empty() //부서목록 팀원 이전값 초기화
			$("#teamName").empty(); //팀원 목록 초기화
			//부서 목록 불러오기
			$.ajax({
				url: "../get-dlist",
				type: "get",
				async: false,
				success: function(result) {
					let str = "";
					str += '<ul class="depList" style="position: relative; list-style: none;" onclick="getDepList(event);">';
					result.forEach(function(item, index) {
						str += '<li class="depList" style="cursor: pointer; padding: 5px 0px 5px 5px; margin: 10px 0px 10px;" value=' + JSON.stringify(item.departmentId) + '>' + item.departmentName + '</li>';
					})
					str += '</ul>';

					$(".depListWrap").append(str); //자식으로 추가
				},
				error: function(err) {
					alert("카테고리 조회에 실패했습니다. 담당자에게 문의하세요.");
				}
			});

			//해당 프로젝트 팀원 불러오기
			$.ajax({
				url:"../get-team-member?pj_num="+pj_numData,
				type:"get",
				async: false,
				success:function(result){
					result.forEach(function(element,i) {
						let teamNameDiv = document.getElementById('teamName');


						//해당 프로젝트 인원 목록 출력 태그
						let newListItem = document.createElement('div');
						newListItem.setAttribute('name', 'member');
						newListItem.setAttribute('data-name', element.userName);
						newListItem.appendChild(document.createTextNode(element.userName));
						newListItem.setAttribute('value', element.userId);
						newListItem.style.margin = '5px 5px 5px 5px';

						if(pj_writer != element.userId){//프로젝트장 제외
							// select 박스
							let selectBox = document.createElement('select');
							selectBox.setAttribute('class', 'memberType');
							selectBox.style.margin = '0px 20px 10px 10px';
							selectBox.style.borderRadius = '5px';
							selectBox.onchange=memberType;

							// 옵션
							let teamOption = document.createElement('option');
							teamOption.selected = element.observer === true ? false:true;
	 						teamOption.text = '팀원';
							teamOption.value = '0';
							selectBox.add(teamOption);

							let observerOption = document.createElement('option');
							observerOption.selected = element.observer === true ? true:false;
							observerOption.text = '옵저버';
							observerOption.value = '1';
							selectBox.add(observerOption);

							newListItem.appendChild(selectBox);


							// input의 속성 지정
							let newInput = document.createElement('input');
							newInput.setAttribute('type', 'checkbox');
							newInput.setAttribute('name', 'memberDelete');
							newInput.style.margin = '0px 10px 20px 0px';
							newListItem.insertBefore(newInput, newListItem.firstChild);

						} else {
							// 팀장 지정
							let newSpan = document.createElement('span');
							newSpan.innerHTML = "팀장";
							newSpan.style.margin = '0px 10px 20px 0px';
							newListItem.insertBefore(newSpan, newListItem.firstChild);
						}
						teamNameDiv.appendChild(newListItem);

					})
				},
				error:function(){

				}

			});


			$("#detailModal").css("display", "none");
			$("#changeModal").css("display", "");
		}
		$("#basicModal").children().find(".title").html(e.target.innerHTML +": "+e.target.parentElement.parentElement.children[0].innerHTML); //제목 넣기
	});

	//프로젝트 삭제 전체선택
	function selectAllProjectDelete(selectAll) {
			const checkboxes = document.getElementsByName('projectDelete');

		 	checkboxes.forEach((checkbox) => {
		    	checkbox.checked = selectAll.checked;
		  	})
		}

	//10개, 20개, 50개 보기 핸들 이벤트
	var handleAmount = document.getElementById("handleAmount");
	handleAmount.onchange = function(e) {
		location.href="manage-project?page=1&amount=" + e.target.value;
	}

	//비동기로 restController에 데이터 넘기기
	//먼저 배열로 해당 태그들을 가져와 value 값으로 json을 만듬
	var pj_data = [];//json 담을 배열 선언
	$("#submit").click(function(){

		var pj_numCheck = document.querySelectorAll(".pj_numCheck");
		var pj_delete = document.querySelectorAll(".projectDelete");

		for(var i=0; i<pj_delete.length; i++) {

			pj_data[i]=
				{
					pj_num : pj_numCheck[i].defaultValue,
					pj_delete: pj_delete[i].checked
				}
		}

		//여기서 JSON 데이터를 ajax로 보내줌
		$.ajax({
			url:"/project-check-regist",
			type:"POST",
			data:JSON.stringify(pj_data),
			contentType:"application/json", //보내는 데이터
			dataType:"text",
			success:function(result) {
				alert(result);
				location.href='/admin/manage-project'; //새로고침
			},
			error:function(err){
				console.log(err);
			}
		});
	});

	//프로젝트 활성 비활성 유무 데이터 넘기기
	$(".pj_active").change(function(event) {
		var pj_numData = $(event.target).closest("td").closest("tr").find(".pj_numCheck").val(); //pj_num 받아오기
		pj_activeData = {
				pj_num:pj_numData, //프로젝트 넘버
				pj_active:$(event.target).val() //pj 비활성 활성 유무
		}
		$.ajax({
			type:'POST',
			url:'/project-active-update',
			contentType:'application/json',
			data:JSON.stringify(pj_activeData),
			dataType:'text',
			success:function(result){
				alert(result);
			},
			error:function(){
				alert('변경 실패');
			}
		})
	})

	//모달에서 일괄 삭제 전체 선택 기능
	function selectAllMember(selectAll) {

		let checkboxes = document.getElementsByName('memberDelete');

		checkboxes.forEach((checkbox) => {
			checkbox.checked = selectAll.checked;
		})

	}

	//ajax로 부서 클릭 시 부서에 있는 팀원 목록 출력
	//여기서 세션 아이디 값 비교해서 본인이면 팀원 목록에 안 나오도록 처리
	function getDepList(e) {
		$.ajax({
			url: "../get-dmlist",
			type: "get",
			data: {
				department_id: e.target.value
			},
			success: function(result) {
				let str = "";
				str += '<ul class="depMemberList" style="position: relative; list-style: none; padding: 0px 0px 0px 18px">';
				result.forEach(function(item, index) {
						str += `<li class="depMemberList2" onclick="seleted(event)" data-value="${item.userId}" style="padding: 5px 0px 5px 5px; margin: 10px 0px 10px; cursor: pointer; border-radius: 10px;">${item.userName}</li>`;

				});
				str += '</ul>';

				// 기존 자식 요소들을 모두 제거하고, 새로운 요소들을 추가함
				$(".depMemberListWrap").empty().append(str);

				// 새로 추가한 요소들에 대해 .category_remove() 함수 호출
				$('.depMemberList2').category_remove();
			},
			error: function(err) {
				alert("카테고리 조회에 실패했습니다. 담당자에게 문의하세요.");
			}
		});
	}

	//다른 부서 눌렀을 때 이전 팀원 목록 삭제
	$.fn.category_remove = function() {
	// 현재 요소 내부에서 .depMemberListWrap 요소만 선택하여 내용을 지움
	this.find('.depMemberListWrap').empty();
	}

	//이름을 선택 하고 추가를 누를 때 추가 목록에 이름이 들어가고 동일한 사람 추가 방지
	let teamPlus = function(e) {
		let teamList = document.querySelectorAll('.selected');
		let allMember = document.querySelector('.allMember').children;

		//전체 목록 div
		let teamNameDiv = document.getElementById('teamName');
		Array.from(allMember).forEach(function(element) {
			element.checked = false;
		});


		teamList.forEach(function(element, index) {
			let name = teamList[index].innerHTML;

			//선택된 사람들의 이름
			let name2 = teamList[index].dataset.value;
			let value = teamList[index].getAttribute('value');
			let existingMembers = teamNameDiv.querySelectorAll('[name="member"]');
			let isMemberExist = Array.from(existingMembers).some(function(member) {
				return member.getAttribute('value') === name2;
			});
			//없는 이름이라면 추가해준다
			if (!isMemberExist) {
				//비동기로 넘겨줌
				$.ajax({
					url:'../insert-member',
					type:'post',
					async:false,
					data:{
						  user_id:name2,
						  pj_num:pj_numData
						  },
					success:function(result){

						let newListItem = document.createElement('div');
						newListItem.setAttribute('name', 'member');
						newListItem.setAttribute('data-name', name);
						newListItem.appendChild(document.createTextNode(name));
						newListItem.setAttribute('value', name2);
						newListItem.style.margin = '5px 5px 5px 5px';

						// select 박스
						let selectBox = document.createElement('select');
						selectBox.setAttribute('class', 'memberType');
						selectBox.style.margin = '0px 20px 10px 10px';
						selectBox.style.borderRadius = '5px';
						selectBox.onchange=memberType;

						// 옵션
						let teamOption = document.createElement('option');
						teamOption.selected = true;
						teamOption.text = '팀원';
						teamOption.value = '0';
						selectBox.add(teamOption);

						let observerOption = document.createElement('option');
						observerOption.text = '옵저버';
						observerOption.value = '1';
						selectBox.add(observerOption);

						newListItem.appendChild(selectBox);

						// input의 속성 지정
						let newInput = document.createElement('input');
						newInput.setAttribute('type', 'checkbox');
						newInput.setAttribute('name', 'memberDelete');
						newInput.style.margin = '0px 10px 20px 0px';
						newListItem.insertBefore(newInput, newListItem.firstChild);

						teamNameDiv.appendChild(newListItem);
						if(index === teamList.length-1) { //마지막에만 완료 메세지 출력

							alert(result);
						}

					},
					error:function(){

					}
				})


			}
			//추가가 되면 기존에 선택했던 팀원들 색 지워줌
			element.classList.remove('selected');
			element.style.color = '';
			element.style.backgroundColor = 'white';
		});
	};


	//선택 했을 때 색상 변경
	let seleted = function(e) {
		e.target.classList.toggle('selected');
		e.target.style.backgroundColor = e.target.classList.contains('selected') ? '#0d6efd' : 'white';
		e.target.style.color = e.target.classList.contains('selected') ? 'white' : '';
		e.target.style.cursor = "pointer";
	}

	//삭제 버튼 누를 때 안에 있는 태그 삭제
	function memberDelete2() {
		// teamName 요소 선택하기
		let teamNameElement = document.querySelectorAll('[name="member"]');
		teamNameElement.forEach(function(element,i) {
			if (element.children[0].checked) {
				//삭제 선택시 pj_num과 요소의 user_id값 가져와서 삭제요청
				$.ajax({
					url:'../delete-member',
					type:'post',
					async:false,
					data:{
						pj_num:pj_numData,
						user_id:$(element).attr('value')
					},
					success:function(result){
						teamNameElement[i].remove();
						alert(result);
					},
					error:function(){

					}
				})


			}
		});
	}
	//해당 팀 프로젝트 인원 옵저버 변경 이벤트
	function memberType(e){
		//체인지이벤트 발생할 때 마다 업데이트 요청
		$.ajax({
			url:'../update-team-member',
			type:'post',
			data:{
				pj_num:pj_numData,
				user_id:$(e.target).closest('div').attr('value'),
				is_observer:e.target.value
			},
			success:function(result){
				alert(result);
			},
			error:function(){

			}
		});
	}

	</script>

</html>