<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.choongang.scheduleproject.mapper.AdminMapper">
  		<!-- 회원목록 출력 전 id 추출 -->
  		<select id="getMemberList" resultType="UserVO">
  			select u.user_id 
  				   <!-- u.department_id,
  				   u.user_role,
  				   u.user_email,
  				   u.user_name,
  				   u.user_pw,
  				   u.user_cell,
  				   u.user_birth,
  				   u.user_active,
  				   u.user_position,
  				   u.user_employeenumber,
  				   u.user_regdate,
  				   d.department_name -->
  				    from user_user u
  				    left join user_department d
                    on u.department_id = d.department_id
  				    <choose>
	  				    <when test='searchType =="사원번호" and search !=null'>
	  				    where u.user_employeenumber like concat('%' , #{search},'%')
	  				    </when>
	  				    <when test='searchType =="아이디" and search !=null'>
	  				    where u.user_id like concat('%' , #{search},'%')
	  				    </when>
	  				    <when test='searchType =="이름" and search !=null'>
	  				    where u.user_name like concat('%' , #{search},'%')
	  				    </when>
	  				    <when test='searchType =="부서" and search !=null'>
	  				    where d.department_name like concat('%' , #{search},'%')
	  				    </when>
	  				    <when test='searchType =="휴대폰번호" and search !=null'>
	  				    where u.user_cell like concat('%' , #{search},'%')
	  				    </when>
	  				    <when test='searchType =="이메일" and search !=null'>
	  				    where u.user_email like concat('%' , #{search},'%')
	  				    </when>
  				    </choose>
  				    
  				    order by user_employeenumber 
  				    desc limit #{pageStart},#{amount}
  				   
  		</select>
  		<!-- user_id를 이용한 전부 출력 -->
  		<select id="getMemeberListResult" resultType="UserVO">
  			select  u.user_id, 
  				    u.department_id,
  				   u.user_role,
  				   u.user_email,
  				   u.user_name,
  				   u.user_pw,
  				   u.user_cell,
  				   u.user_birth,
  				   u.user_active,
  				   u.user_position,
  				   u.user_employeenumber,
  				   u.user_regdate,
  				   d.department_name,
  				   (select log_date from user_log where user_id = #{user_id} order by log_date desc limit 1) log_date
  					from user_user u
  				    left join user_department d
                    on u.department_id = d.department_id
                    where user_id = #{user_id}
  		</select>
  		
  		<!-- 검색결과 카운트 -->
  		<select id="getMemberCount" resultType="int">
  			select count(*) from user_user u
  			left join user_department d
            on u.department_id = d.department_id
  				<choose>
  				    <when test='searchType =="사원번호" and search !=null'>
  				    where u.user_employeenumber like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="아이디" and search !=null'>
  				    where u.user_id like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="이름" and search !=null'>
  				    where u.user_name like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="부서" and search !=null'>
  				    where d.department_name like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="휴대폰번호" and search !=null'>
  				    where u.user_cell like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="이메일" and search !=null'>
  				    where u.user_email like concat('%' , #{search},'%')
  				    </when>
  			</choose>
  		</select>
  		<!-- manageMember 페이지에서 체크박스 체크하는 경우 쿼리 -->
  		<update id="checkMemberUpdate" parameterType="CheckVO">
  			
  			update user_user set 
  			<choose>
	  			<when test="user_active == true">
	  			user_active = true
	  			</when>
	  			<otherwise>
	  			user_active = false
	  			</otherwise>
			</choose>
			<if test='pwReset == "on"'>					
	  			,user_pw = '1234'<!-- 암호화 처리해서 들어가줘야 함 -->
	  		</if>
                    where user_id = #{user_id};
  		</update>
  		
  		<!-- 체크박스 삭제 작업 -->
  		<delete id="deleteMember" parameterType="CheckVO">
  			
  				delete from user_user where user_id = #{user_id}
  			
  		</delete>
  		
  		<!-- 프로젝트 리스트 출력 -->
  		<select id="getProjectList" resultType="ProjectVO">
  			 select pj_num
  			 from user_project
  			 <choose>
  				    <when test='searchType =="pj_name" and search !=null'>
  				    where pj_name like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="pj_chief" and search !=null'>
  				    where pj_chief like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="pj_startdate" and search !=null'>
  				    where pj_startdate like concat('%' , #{search},'%')
  				    </when>
  				    
  			</choose>
  			 order by pj_num desc
  			 limit #{pageStart} , #{amount}
  		</select>
  		
  		<!-- 프로젝트 갯수 -->
  		<select id="getProjectCount" resultType="int">
  			select count(*)
  			from user_project
  			<choose>
  				    <when test='searchType =="pj_name" and search !=null'>
  				    where pj_name like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="pj_chief" and search !=null'>
  				    where pj_chief like concat('%' , #{search},'%')
  				    </when>
  				    <when test='searchType =="pj_startdate" and search !=null'>
  				    where pj_startdate like concat('%' , #{search},'%')
  				    </when>
  			</choose>
  		</select>
  		<!-- 프로젝트 id를 이용하여 select 해옴 -->
  		<select id="getProjectListResult" resultType="ProjectVO">
  			select pj_num,
  					pj_name,
  					pj_active,
  					<!-- pj_chief, -->
  					pj_description,
  					pj_startdate,
  					pj_enddate,
  					(select count(*) from mapping where pj_num = #{pj_num}) pj_count
  					from user_project
  					where pj_num = #{pj_num}
  		</select>
  		
  		<!-- 프로젝트 리스트 체크박스 업데이트 -->
  		<update id="updateProjectList" parameterType="ProjectCheckVO">
  			update user_project set
  			<choose>
  				<when test="pj_active == 'true'">
  					pj_active = true
  				</when>
  				<otherwise>
  					pj_active = false
  				</otherwise>
  			</choose>
  			where pj_num = #{pj_num}
  		</update>
  		
  		<!-- 프로젝트 리스트 체크박스 선택 시 삭제 -->
  		<delete id="deleteProjectList" parameterType="ProjectCheckVO">
  			delete from user_project where pj_num = #{pj_num}
  		</delete>
  		
  		<!-- 프로젝트 상세내용 가져오기 -->
  		<select id="getProjectDetail" resultType="ProjectDetailVO">
  			select pj_num,
  					pj_name,
  					pj_description
  			from user_project
  			where pj_num = #{pj_num}
  		</select>
  		<select id="getProjectDetailMember" resultType="ProjectDetailMemberVO">
  			select m.user_id,
  					m.is_observer,
  					u.user_name
  			from mapping m
  			left join user_user u
  			on m.user_id = u.user_id
  			where pj_num = #{pj_num}
  		</select>
  </mapper>
